@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Xanh +Mono & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/*@font-face {
    font-family: 'Cormorant';
    src: url(../fontes/CormorantGaramond-Regular.ttf); format:('truetype');
    font-weight: normal;
}*/

:root {
    /*--cor0: #679380;
    --cor1: #52CC99;
    --cor2: #317C5D;
    --cor3: #1E4A37;*/
    --cor1: #062A42;
    --cor2: #3979C9;
    --cor3: #727B80;
    --cor4: #ffd8ac;
    
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-titulo: 'Source Code Pro', monospace;
    --fonte-destaque: 'Cormorant', serif;
}


body {
    /*background-color: #062a42e5;*/
    background-image: url('../imagens/planet.jpg.jpg');
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    font-family: var(--fonte-padrao);
}

a#Insta {
    content: url('icone instagram-48.png.png');
    width: 30px;
    height: 30px;
}

a#Face {
    content: url('icone facebook-48.png.png');
    width: 30px;
    height: 30px;
}

a#github {
    content: url('icons8-github-50.png');
    width: 30px;
    height: 30px;
}

header {
    min-width: 500px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 15px;
    margin-bottom: 3px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px #00000085;
}

header h1 {
    font-family: var(--fonte-titulo);
    text-align: center;
    font-size: 2.1em;
    color: var(--cor1);
    text-shadow: 1px 1px 2px var(--cor4);
}

header p {
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-style: italic;
}

nav {
    min-width: 300px;
    max-width: 600px;
    background-color: white;
    /*padding: 15px;*/
    /*box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.315);*/
    /*border-radius: 10px;*/
    margin: auto;
    text-align: center;
}

nav > a {
    color: var(--cor2);
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor4);
    color: var(--cor1);
}

main {
    min-width: 500px;
    max-width: 800px;
    margin: auto;
    margin-top: 3px;
    background-color: white;
    padding: 15px;
    box-shadow: 5px 6px 10px #00000085;
    border-radius: 10px;
}

main h2 {
    font-family: var(--fonte-destaque);
    font-size: 1.6em;
    text-indent: 8px;
    background-image: linear-gradient(to right, #397ac96a, transparent);
}

main p {
    text-align: justify;
    text-indent: 20px;
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
}

main ul {
    list-style-type: '\1F326\FE0F\00A0\00A0';
}

main li {
    font-size: 1.1em;
}