@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cor-0: #ffffff;
    --cor-1: #57ae00;
    --cor-2: #548B58;
    --cor-3: #3f7d00;

    --fonte-padrao: "Montserrat", sans-serif;
    --fonte-titulo: "Titillium Web", sans-serif;
    --fonte-var: "Playfair Display", serif;
}

/*Global*/
* {
    padding: 0;
    margin: 0;
}

/*Geral*/
main {
    margin-right: 70px;
    margin-left: 70px;
}

h2 {
    padding-top: 70px;
    margin: 20px 70px 20px 70px;
    text-align: justify;
    font-size: 18px;
    font-family: var(--fonte-var);
}

h3 {
    padding-top: 10px;
    margin: 70px;
    text-align: justify;
    font-size: 17px;
    font-family: var(--fonte-titulo);
}

h4 {
    margin: 5px 70px 0 70px;
    text-align: justify;
    font-size: 16px;
    font-family: var(--fonte-titulo);
    font-style: italic;
}

p {
    margin: 70px;
    font-size: 18px;
    text-align: justify;
    font-family: var(--fonte-padrao);
}

/*Navbar*/
a > i {
    font-size: 35px;
    color: var(--cor-2);
}

a.nav-link {
    font-family: var(--fonte-titulo);
}

/*Listas*/
div.container-list {
    padding-left: 65px;
    padding-right: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    font-size: 18px;
    font-family: var(--fonte-padrao);
}

li > i {
    color: var(--cor-1);
    margin-right: 12px;
    font-size: 17px;
}

/*Rodapé*/
footer {
    padding-top: 2px;
    padding-bottom: 2px;
}

p#fot{
    margin: 10px;
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 16px;
}

a#fot {
    color: #000000;
    text-decoration: none;
}

a#fot:hover {
    border: 4px solid var(--cor-2);
    border-radius: 200px 200px 200px 200px;
    background-color: var(--cor-2);
    color: var(--cor-0);
    text-decoration: underline;
}

/*Barra de rolagem*/
::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: var(--cor-0);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-1);
}